<div class="edit-wrapper">
  <div class="edit-container">
    <div class="edit-upper">
      <div class="edit-photo">
        <%= image_tag @article.image.variant(resize: '1000x800'), class:"edit-upper-photo"%>
      </div>
    </div>
    <div class="edit-under">
      <div class="edit-content">
        <%= render 'form', article: @article, class: 'edit-form' %>
      </div>
      <div class="edit-menus">
        <%= link_to 'Top Pageへ戻る', root_path, class: "edit-root" %>
        <%= link_to 'Delete', article_path(@article), method: :delete,  data: {confirm: "本当に削除しますか？"}, class: "edit-delete" %>
      </div>
    </div>
  </div>
</div>