<div class="new-container">
  <div class="new-title"> 
    <h1 class="new-first-title">New memory</h1>
    <h2 class="new-second-title">Where did you go ?</h2>
  </div>
  <%= render 'form', article: @article %>
</div>