.form-form {
  background-color: rgba(255, 255, 255, 0.85);
  width: 400px;
  height: 550px;
  margin: 0 auto;
  border-radius: 20px;
}

.form-article-form {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.form-form-label {
  margin: 20px 0 10px 40px;
}

.form-form-field {
  margin: 0 auto;
  width: 80%;
  padding: 6px 0;
  border-radius: 10px;
  border: 1px solid rgba(58, 58, 58, 0.8);
}

.form-form-image {
  margin: 30px 0 0 40px;
}

.form-create {
  width: 50%;
  padding: 6px 0;
  margin: 45px auto 0 auto;
  border-radius: 10px;
  border: 1px solid rgba(125, 125, 125, 0.8);
  background-color: indianred;
  color: white;
}

.form-back-to-root {
  margin: 40px 0 0 40px;
  font-size: 13px;
}

.form-back {
  text-decoration: none;
}