.show-wrapper {
  height: 100vh;
  width: 100vw;
}

.show-container {
  height: 100%;
  width: 100%;
  background-image: url("/images/article.index.wrapper.jpeg");
  background-size: cover;
  display: flex;
  position: relative;
}

.show-favorites {
  position: absolute;
  top: 91%;
  left: 90%;
  z-index: 1;
}

.show-favorite-count {
  color: black;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}

.show-container::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.297);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.show-upper {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.show-photo {
  position: relative;
  z-index: 1;
}

.show-upper-photo {
  box-shadow: 0 0 18px black;
  border-radius: 10px;
}

.show-under {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.show-content {
  flex-basis: 40%;
}

.show-items {
  color: white;
  font-size: 40px;
  margin-top: 80px;
  position: relative;
  z-index: 1;
}

.show-category {
  margin-top: 30px;
}

.show-address {
  margin-top: 30px;
}

.show-link {
  margin-top: 30px;
}

.show-url {
  color: white;
  text-decoration: none;
}

.show-items li {
  list-style: none;
}

.show-comment-wrapper {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.show-comments {
  flex: 1;
}

.show-line {
  display: block;
  width: 80%;
  height: 1px;
  background-color: rgb(200, 200, 200);
  position: relative;
  z-index: 1;
}

.show-comment-title {
  position: relative;
  z-index: 1;
  color: white;
}

.show-comment-body {
  margin: 10px 0 0 5px;
  color: snow;
  position: relative;
  z-index: 1;
}

.show-comment-sentence {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.show-for-margin {
  margin-right: auto;
}

.show-comment-delete {
  text-decoration: none;
  color: snow;
  background-color: rgb(255, 94, 94);
  font-size: 10px;
  border-radius: 5px;
  padding: 3px;
}

.show-comment-delete:hover {
  box-shadow: 0 0 8px white;
}

.show-comment-delete:active {
  box-shadow: none;
  position: relative;
  top: 1px;
  left: 1px;
}

.show-not-signin {
  position: relative;
  z-index: 1;
  color: white;
  margin-bottom: 10px;
}

.show-comment-form-contents {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.show-comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.show-comment-area {
  border: 1px solid rgb(124, 124, 124);
  background-color: snow;
  border-radius: 15px;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 15px;
}

.show-comment-submit {
  border: 1px solid rgb(124, 124, 124);
  background-color: rgb(138, 138, 138);
  color: snow;
  border-radius: 10px;
  padding: 5px;
  width: 70%;
  margin: 0 auto;
  box-shadow: 5px 5px black;
}

.show-comment-submit:active {
  box-shadow: none;
  position: relative;
  top: 5px;
  left: 5px;
}

.show-menus-container {
  flex-basis: 40%;
}

.show-menus {
  position: relative;
  z-index: 1;
  display: flex;
  margin-top: 50px;
}

.show-root {
  display: block;
  text-decoration: none;
  color: snow;
  margin-right: 300px;
  padding: 8px;
}

.show-edit {
  display: block;
  text-decoration: none;
  color: snow;
  margin-right: 20px;
  background-color: rgb(61, 61, 255);
  border-radius: 8px;
  padding: 8px 15px;
  box-shadow: 0 0 10px white;
}

.show-edit:active {
  box-shadow: none;
  position:relative;
  top: 1px;
  left: 1px;
}

.show-delete {
  display: block;
  text-decoration: none;
  color: snow;
  background-color: rgb(255, 94, 94);
  border-radius: 8px;
  padding: 8px 15px;
  padding: 8px 15px;
  box-shadow: 0 0 10px white;
}

.show-delete:active {
  box-shadow: none;
  position:relative;
  top: 1px;
  left: 1px;
}

.pagination{
  margin: 20px auto;
  width: 50%;
  position: relative;
  z-index: 1;
}

.pagination span {
  color: rgb(234, 215, 68);
}

.pagination span :hover{
  background-color: rgb(90, 90, 90);
}

.pagination a {
  color: white;
  text-decoration: none;
}

.pagination a :hover {
  background-color: rgb(90, 90, 90);
}