.container {
  background-image: url("/images/sign_in.jpeg");
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 250px;
  min-height: 350px;
  padding: 40px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}

.form-title {
  font-size: 20px;
  margin-bottom: 30px;
}

.sign-in-form {
  flex: 1;
}

.field-label {
  font-size: 13px;
}

.field-input {
  margin: 10px 0 20px 0;
  padding: 6px 0 6px 0;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(80, 80, 80, 0.9)
}

.submit {
  color: white;
  background-color: black;
  padding: 6px 20px;
  margin-top: 20px;
  border-radius: 10px;
}